飲み忘れの不安をなくすピルの服用管理モバイルアプリ・Pilllの開発をしています。
ピルの服用時刻にリマインド、服用履歴の管理、生理管理を行えるアプリになっています
iOS・Androidアプリ両方を提供しております。Flutter製のアプリです。このリポジトリはPilllのFlutterプロジェクトのリポジトリです

## 技術構成
- Flutter
- Firebase Firestore
- Firebase Auth
- Firebase Crashlytics
- RevenueCat

## 機能
- ピルの服用記録: 服用記録・取り消し。服用履歴を確認できる
- ピルシートUI: ピルシートをメタファーとしたUIで「どこまで飲んだかを一目でわかる」価値を提供。また、ピルシートのUIからいつ頃生理が来るか、何日飲む薬か、何番目の薬か。が一目でわかる。表示番号も調整できる
- 生理記録: 生理が記録・編集ができる
- 日記: カレンダーUIがあり、体調を記録
- 未来の予定: カレンダーUIから予定を書き込むことができる。通院予定など
- 服用通知: 指定した時刻に服用通知が来る。ローカル通知

## ライブラリ
- https://pub.dev/packages/flutter_local_notifications: 服用のリマインダー通知はローカル通知。ユーザーから遅れて欲しく無いと要望が多かったので。リモートだとサーバーの処理時間等で1,2分遅延することがある
- https://pub.dev/packages/flutter_hooks: 内部状態管理
- https://pub.dev/packages/riverpod: グローバル状態管理
## マネタイズ
- サブスクリプション: 2種類ある
  * 割引: 月額300円, 年額3600円
  * 通常: 月額600円, 年額4800円
- 広告: アプリのホーム画面にAdMobのバナー広告。たまに企業からの純広告(バナー形式)を表示することがある
