# linguist-generated begin
# configure-linguist-generated skill が管理する区間です。
# profiles: flutter, swift, kotlin
**/*.g.dart linguist-generated
**/*.freezed.dart linguist-generated
**/*.gr.dart linguist-generated
**/*.mocks.dart linguist-generated
**/*.gen.dart linguist-generated
**/generated_plugin_registrant.dart linguist-generated
**/*.generated.swift linguist-generated
**/Generated/** linguist-generated
**/*.generated.kt linguist-generated
# linguist-generated end
