abstract class Secret {
  static const revenueCatPublicAPIKey = "[REVENUE_CAT_PUBLIC_API_KEY]";
  static const iOSAdmobNativeAdvanceIdentifier = "[IOS_ADMOB_NATIVE_ADVANCE_IDENTIFIER]";
  static const androidAdmobNativeAdvanceIdentifier = "[ANDROID_ADMOB_NATIVE_ADVANCE_IDENTIFIER]";
}
