storePassword=[ANDROID_KEYSTORE_PASSWORD]
keyPassword=[ANDROID_KEYSTORE_PRIVATE_KEY_PASSWORD]
keyAlias=[ANDROID_KEYSTORE_ALIAS]
storeFile=[ANDROID_KEYSTORE_PATH]
admobAppIdentifier=[ANDROID_ADMOB_APP_IDENTIFIER]
